*.egg
*.egg-info
*.pyc
*.sqlite
*.sql
*.sql.gz
*~
tests/local_settings.py
tests/private_settings.py
tests/.ve
tests/celerybeat.pid
tests/distribute-*.tar.gz
tests/*.sqlite
tests/search_index
tests/static
tests/uploads
tests/whoosh_index
reports/*
.*.swp
.*.swo
.DS_Store
.pydevproject
.ropeproject
.sass-cache
.tox/
